.row {
    margin-bottom: 0px;
}

.row .col {
    padding: 0 0.10rem;
}


input:not([type]), input[type=text], input[type=password],
input[type=email], input[type=url], input[type=time], input[type=date],
input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number],
input[type=search], textarea.materialize-textarea{
  margin: 0 0 0 0;
  height: 2rem;
}

.activityBtn{
  border: 1px solid green;
}

.searchBox{
  border-right: 1px solid green;
  border-left: 1px solid green;
  border-bottom: 1px solid green;
}

.listBox{
  min-height: 94vh;
  max-height: 94vh;
  overflow-y: auto;
}

.listBoxWrapper{
  border-right: 1px solid green;
  border-left: 1px solid green;
  border-bottom: 1px solid green;
}

.iconBox{
  padding-left: 5px;
}
